WindowsFormsAdmin/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="AuthorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visability" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="ArrayOfBookAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookAuthor" nillable="true" type="tns:BookAuthor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookAuthor" nillable="true" type="tns:ArrayOfBookAuthor" />
  <xs:complexType name="BookAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visability" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookAuthor" nillable="true" type="tns:BookAuthor" />
</xs:schema>